@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: url("capa.png");
    background-attachment: fixed;
    overflow-x: hidden;
}

html, body, .capa{
	height: 100%;
}

.capa {
	display: table;
	width: 100%; 
}

.capa {
	display: table;
	width: 100%; 
}

.ballonTex{
	position: fixed; 
	bottom: 5%; 
	right: 5%; 
	width: 75px; 
	height: 75px;
	border: 2px solid white;
	border-radius: 10%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.texto-capa h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.btn-custom{
    color: white;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	width:  390px;
	margin-left: 3%;
}

.btn-verde{
    background-color: #89d340;
    font-family: 'Montserrat', sans-serif;
}

.btn-verde:hover{
    background-color: #181f25;
    color: white;
}

.btn-branco{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #0c6984;
}

.btn-branco:hover{
    color: #181f25;
	background-color: white
}

section#colaborador{
    background-color: #89d340;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.5);
}

section#colaborador label{
    color: white;
}

img{
   border: 5px solid black;
}

section#colaborador form{
	color: white;
	font-weight: bolder;
	padding-top: 5%;
}

section#colaborador input{
	background-color: white;
	color: black;
	font-weight: bolder;
}

section#colaborador button{
	background-color: #0c6984;
}

input#nome{
	size: 300px;
}

section#lider{
    height: 100%;
    width: 100%;
    background-color: #0c6984;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
}

section#lider form{
	color: white;
	font-weight: bolder;
	padding-top: 5%;
}

section#lider input{
	background-color: white;
	color: black;
	font-weight: bolder;
}

