@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: url("capa.png");
    background-attachment: fixed;
    overflow-x: hidden;
}

html, body, .capa{
	height: 100%;
}

.capa {
	display: table;
	width: 100%; 
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.texto-capa h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.btn-custom{
    color: white;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	width:  390px;
	margin-left: 3%;
}

.btn-azul{
    background-color: #89d340;
    font-family: 'Montserrat', sans-serif;
}

.btn-azul:hover{
    background-color: #181f25;
    color: white;
}

.btn-branco{
    font-family: 'Montserrat', sans-serif;
    
	color: white;
    background-color: #0c6984;
}

.btn-branco:hover{
    color: #181f25;
	background-color: white
}

section#colaborador{
    background-color: white;
    padding-top: 10%;
    padding-bottom: auto;
    height: 100%;
    width: 100%;
    border-left: 15px solid #1f3b4c;
    border-top: 15px solid #181f25;
    border-right: 15px solid #89d340;
    border-bottom: 15px solid #006685;
}

section#colaborador img{
   display: flex;
   align-items: center;
   justify-content: center;
}

input#nome{
	size: 300px;
}

section#diretor form{
	color: white;
	font-weight: bolder;
}

section#diretor input{
	background-color: transparent;
	border: 2px solid white;
	color: white;
	font-weight: bolder;
}

section#diretor input::placeholder {
  color: white;
  font-weight: bolder;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
 font-weight: bolder;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
 font-weight: bolder;
}
